{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
    <div class="card mx-auto mt-5 w-auto">
        <div class="card-body">
            Prihlasovací link bol odoslaný na vašu emailovú adresu.
        </div>
    </div>
{% endblock %}
