<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="no-cache" />
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <config name="testVersion" value="8.4" />

    <file>bin/</file>
    <file>config/</file>
    <file>migrations/</file>
    <file>public/</file>
    <file>src/</file>
    <file>tests/</file>

    <exclude-pattern>vendor/</exclude-pattern>
    <exclude-pattern>var/</exclude-pattern>
    <exclude-pattern>config/bundles.php</exclude-pattern>
    <exclude-pattern>importmap.php</exclude-pattern>

    <rule ref="vendor/pixelfederation/coding-standards/phpcs.ruleset.84.non-ddd.xml"/>

    <rule ref="SlevomatCodingStandard.Files.TypeNameMatchesFileName">
        <properties>
            <property name="rootNamespaces" type="array">
                <element key="src" value="App"/>
                <element key="tests" value="App\Tests"/>
                <element key="migrations" value="DoctrineMigrations"/>
            </property>
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.PHP.UselessParentheses">
        <properties>
            <property name="enableCheckAroundNew" value="false"/>
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal">
        <exclude-pattern>src/Entity</exclude-pattern>
    </rule>

    <rule ref="SlevomatCodingStandard.Functions.FunctionLength">
        <properties>
            <property name="maxLinesLength" value="45"/>
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.Files.LineLength.LineTooLong">
        <exclude-pattern>migrations/</exclude-pattern>
    </rule>

    <rule ref="Generic.Files.LineLength.TooLong">
        <exclude-pattern>migrations/</exclude-pattern>
    </rule>
</ruleset>
